# Database
DB_USER=your_db_username
DB_PASS=your_db_password
DB_NAME=your_db_name
DB_URL=postgresql+asyncpg://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}
TEST_DB_USER=your_test_db_username
TEST_DB_PASS=your_test_db_password
TEST_DB_NAME=your_test_db_name
TEST_DB_URL=postgresql+asyncpg://${TEST_DB_USER}:${TEST_DB_PASS}@test-db:5432/${TEST_DB_NAME}

# Web
HOST=0.0.0.0
PORT=8000
# Generate with: openssl rand -hex 32
SECRET_KEY=your_secret_key_here
ALG=HS256

# Email
EMAIL_PASSWORD=your_smtp_email_password
SMTP=your_smtp_server
MAIL_ADDRESS=your_email@example.com

# MinIO
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password
# Generate with minio server
MINIO_ACCESS_KEY=your_minio_access_key
# Generate with minio server
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_URL=minio:9000
MINIO_BUCKET=your-bucket-name

# Redis
REDIS_PASS=your_redis_password
BROKER=redis://:${REDIS_PASS}@redis:6379
